{% set curr_menu = 'contents' %}
{% extends "COEShopBundle::admin_layout.html.twig" %}

{% block left_side %}
{% include "COEShopBundle:Admin:settings_submenu.html.twig" %}
{% endblock %}

{% block content %}

<div class="top-bar">
	<h1>Site Variable edit</h1>
	<div class="breadcrumbs"><a href="{{ path('admin_sitevars') }}">&laquo; List</a></div>
</div>

<br style="clear:left" />

<form class="frm_edit" action="{{ path('admin_sitevars_edit', { 'id': id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Save</button>
    </p>
</form>


{% endblock %}
