<h3>Catalog</h3>
<ul class="nav">
	<li><a href="{{ path('admin_category') }}">Categories</a></li>
	<li class="last"><a href="{{ path('admin_product') }}">Products</a></li>
</ul>
<!--a href="#" class="link">Link here</a-->
