{% if app.session.hasFlash('notice') %}
<div class="flash-notice">
	<span>Notice: {{ app.session.flash('notice') }}</span>
</div>
{% endif %}

{% if app.session.hasFlash('error') %}
<div class="flash-error">
	<span>Error: {{ app.session.flash('error') }}</span>
</div>
{% endif %}