<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>eShop Admin Login</title>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/coeshop/css/admin_login.css') }}" />
</head>
<body>

	<h1>Admin login</h1>

<div id="main" >	
{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

<form action="{{ path('admin_login_check') }}" method="post" id="login_form">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

	<br />
	
    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

	<br />
	
    {#
        If you want to control the URL the user is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <input type="submit" name="login" class="submit" value="Login" />
</form>
	
</div>

</body>
</html>