{% set curr_menu = 'statistics' %}
{% extends "COEShopBundle::admin_layout.html.twig" %}


{% block left_side %}{% endblock %}

{% block content %}

<link rel="stylesheet" href="//cdn.oesmith.co.uk/morris-0.4.1.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>


<div class="top-bar">
	<h1>Statistics</h1>
</div><br />

{% include "COEShopBundle:Admin:flash.html.twig" %}

<div id="barchart" style="height: 250px;"></div>

<script>
new Morris.Bar({
  element: 'barchart',
  data: [
    {% for entity in res %}
    { produs: '{{ entity.prod_name }}', nr: {{ entity.nr }}, qty: {{ entity.totalqty }} },
    {% endfor %}
  ],
  xkey: 'produs',
  ykeys: ['nr', 'qty'],
  labels: ['Nr', 'Qty']
});
</script>


{% endblock %}
