{% set curr_menu = 'transfer' %}
{% extends "COEShopBundle::admin_layout.html.twig" %}


{% block left_side %}
{% include "COEShopBundle:Admin:transfer_submenu.html.twig" with { cat: 5 } %}
{% endblock %}

{% block content %}
<div class="top-bar">
	<h1>Export</h1>
</div><br />


{% include "COEShopBundle:Admin:flash.html.twig" %}

<div class="info" >
<h3>Pentru export sunt folosite urmatoarele campuri</h3>
<table>
	<tr>
		<th>id</th>
		<th>category name</th>
		<th>name</th>
		<th>pret</th>
		<th>nume imagine</th>
	</tr>
</table>
</div>

<form class="frm_edit" action="{{ path('admin_transfer_export') }}" method="post" >
    <p>
        <button type="submit">Export</button>
    </p>
</form>

{% endblock %}
