
.cl {
	clear:left;
}

body {
	background: url(../imgs/bg.png);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 0;
}

header, #top_menu  {
	margin: 0 auto 0 auto;
	width: 941px;
}

#top_content, #top_round, #top_banner, footer {
	width: 930px;
	margin: 0 auto 0 auto;
}

#top_menu {
	height: 84px;
	margin: 0 0 0 0;
	background: url(../imgs/menu.png) no-repeat;
}

ul#top_menu_nav_list {
	float:left;
	overflow: hidden;	
	margin: 8px 0px 0px 240px;
	padding: 0 0 0 0;
	width: 395px;
	height: 47px;
	list-style-type: none;
}
ul#top_menu_nav_list  li {
	float: left;
	text-transform : uppercase;
	margin: 15px 0 0 0;
	padding: 0 0 0 0;
}
ul#top_menu_nav_list  li a {
	text-decoration: none;
	font-weight:bold;
	font-size:13px;
	margin: 0 0 0 20px;
	color:#fff;
}
ul#top_menu_nav_list  li#login {
	background: url(../imgs/login_icon.png) no-repeat 0px 5px;
	width: 100px;
	margin-left: 20px;
}
ul#top_menu_nav_list  li#cos_cumparaturi {
	background: url(../imgs/cart_icon.png) no-repeat 0px 5px;
	width: 150px;
}
ul#top_menu_nav_list  li#contact {
	background: url(../imgs/mail_icon.png) no-repeat 0px 5px;
}

#search_container {
	float:left;
	margin: 8px 0px 0px 0px;
	background:blue;
	width: 250px;
	height: 47px;
}

footer {
	background: #000;
	color: #fff;
	text-align: center;
}

#top_banner  {
	background: url(../imgs/img_bg.png) no-repeat;
	height: 287px;
}

#top_content {
	overflow:hidden;
	margin: 0 auto 0 auto;
	/*border:1px solid red;*/
	background: url(../imgs/bg_bar.png) repeat-y;
}

#left_content {
	float:left;
	width:220px;
}

#content {
	float:left;
	width:710px; 
	background: url(../imgs/top_content.png) no-repeat;
}

#content h3 {
	margin: 10px 0 0 15px;
	padding: 0 0 0 0;
}
#content h3  span {
	color: #000;
	font-size: 12px;
}
#content p {
	margin: 10px 0 0 15px;
	padding: 0 0 0 0;
	font-size: 14px;
	text-indent: 45px;
	width: 670px;
}
#content a.mai_departe {
	display: block;
	margin-left: 580px;
	font-size:14px;	
}

.p_separator {
	margin: 10px 0 0 0;
	background: url(../imgs/sep_content.png);
	height: 2px;
	width: 710px;
}

#categories_head, #accesories_head {
	background: url(../imgs/menu_head1.png) no-repeat;
	text-align: center;
	text-transform : uppercase;
	color: #fff;
	font-size:12px;
	font-weight:bold;
}

#categories_head {
	background: url(../imgs/menu_head1.png) no-repeat; 
	height: 27px;
}
#categories_head  span {
	margin-top:10px;
}
#accesories_head {
	background: url(../imgs/menu_head2.png) no-repeat; 
	height: 32px; 
}

#top_round {
	background: url(../imgs/top_content_round.png) no-repeat;
	height:5px;
}

.categories {
	/*background: #231F2D;*/
}

.banner_text {
	float:left;
	width: 500px;
	margin-top:65px;
	margin-left: 80px;
}

.banner_text h2, 
.banner_pret, 
#content h3, 
#content a.mai_departe, 
div.prod_thumb .description .price,
div.prod_thumb .description .goto_details,
div.prod_thumb .price_section .price
{
	color: #E30C85;
}

.banner_text h2, .banner_pret {
	font-size: 26px;
	font-weight: normal;
}
.banner_text h2 {
	margin: 0 0 0 0;
}

.banner_text .description {
	color: #fff;
	font-size: 12px;
}

.banner_text .banner_pret {
}

.banner_img {
	float: right;
}

#promo_prods {
	margin: 0 0 0 0;
	float: left;
	overflow: hidden;
}

/* ------- Product ---------------- */
div.prod_thumb {
	height: 315px;
	float: left;
	margin: 0 0 0 15px;
}

div.prod_thumb, div.prod_thumb .head, div.prod_thumb .bottom {
	width: 159px;
}

div.prod_thumb .head {
	background: url(../imgs/head_prod.png) no-repeat;
	height: 29px;
	line-height: 29px;
	text-align: center;
	color:#fff;
}

div.prod_thumb .bottom {
	background: url(../imgs/prod_bottom.png) no-repeat;
	height: 5px;
}

div.prod_thumb .description,
div.prod_thumb .price_section
{
	background: #231F2D;
	margin: 0 0 0 0;
}

div.prod_thumb .description img {
	margin: 4px 0 0 4px;
}


div.prod_thumb .description span {
	display: inline-block;
	margin: 0 0 0 5px;
	padding: 0 0 0 0;
	color: #fff;
	font-size: 12px;
}

div.prod_thumb .price_section {
	margin: 0 0 0 0;
}

div.prod_thumb .price_section .price {
	margin: 5px 0 0 30px;
	display: inline-block;
	font-size: 21px;
}
div.prod_thumb .price_section .price  span {
	color:#fff;
}

div.prod_thumb .description a.goto_details {
	display: block;
	margin-left:4px;
	font-size: 12px;
}

div.prod_thumb form.form_add_prod {
}

div.prod_thumb form.form_add_prod  input[type="text"] {
	display: inline-block;
	background: url(../imgs/prod_qty.png) no-repeat;
	text-align: center;
	border: 0px;
	width: 31px;
	height: 24px;
	margin: 4px 0 0 4px;
}

div.prod_thumb form.form_add_prod  input[type="submit"] {
	display: inline-block;
	background: url(../imgs/prod_add_button.png) no-repeat;
	border: 0px;
	width: 106px;
	height: 24px;
	margin: 0 0 0 5px;
	text-indent: -999em;
}

/* ----------- menu --------- */
.categories .content {
	font-size: 12px;
}
.categories a:link, 
.categories a:visited {
  color: #fff;
  text-decoration: none;
}

.categories a:hover {
  color: #E30C85;;
  text-decoration: underline;
}

/*.categories a.active {
  color: #5895be;
}*/

.categories ul.menu, 
.categories .item-list ul {
  margin: 0.35em 0 0 -0.5em; /* LTR */
  padding: 0;
}
.categories ul.menu ul, 
.categories .item-list ul ul {
  margin-left: 0em; /* LTR */
}

.categories ul li, 
.categories ul.menu li, 
.categories .item-list ul li, 
.categories li.leaf {
  padding: 0 0 .2em 1.5em;
  list-style-type: none;
  list-style-image: none;
}

.categories .cat_close {
	background:url(../imgs/arrow.png) no-repeat;
	background-position:left;
}
.categories .cat_open {
	background:url(../imgs/arrow_on.png) no-repeat;
	background-position:left;
}
.categories a.cat_close, 
.categories a.cat_open {
	display: inline-block;
	text-decoration:none;
	width: 10px;
}