{% extends "COEShopBundle::layout.html.twig" %}

{% block title "Page: " ~ name %}

{% block content %}

<form action="{{ path('_page_edit', { 'id': id }) }}" class="paragraph_form" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

{% endblock %}
