<div class="languages_box">
{% for key,value in languages %}
  <a href="#" {% if key==selected %}class="selected"{% endif %}><img src="{{ asset('bundles/tscwebsite/images/') }}{{ key }}.png" alt="" title="{{ value }}" border="0" /></a>
{% endfor %}
</div>
