{% extends 'COEShopBundle::layout.html.twig' %}

{% block title %}Link-uri utile{% endblock %}

{% block content %}
<h3>Link-uri utile</h3>
<p>
{{ render(controller('COEShopBundle:Page:show', { name: '_links' } )) }}
</p>
<br class="cl" /><br class="cl" />

{% endblock %}
