{% extends 'COEShopBundle::layout.html.twig' %}

{% block title %}E-Shop Termeni si Conditii{% endblock %}

{% block content %}
<h3>Termeni si Conditii</h3>
<p>
{% render "COEShopBundle:Page:show" with { name: '_terms' } %}
</p>
<br class="cl" /><br class="cl" />

{% endblock %}
